/* Noto Sans */
@font-face {
	font-family: "Noto Sans";
	src: url("NotoSans/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("NotoSans/NotoSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: italic;
}



/* Noto Serif */
@font-face {
	font-family: "Noto Serif";
	src: url("NotoSerif/NotoSerif-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Noto Serif";
	src: url("NotoSerif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: italic;
}



/* Noto Sans Arabic */
@font-face {
	font-family: "Noto Sans Arabic";
	src: url("NotoSans/NotoSansArabic-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Sans Armenian */
@font-face {
	font-family: "Noto Sans Armenian";
	src: url("NotoSans/NotoSansArmenian-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Sans Hebrew */
@font-face {
	font-family: "Noto Sans Hebrew";
	src: url("NotoSans/NotoSansHebrew-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Sans Japanese */
@font-face {
	font-family: "Noto Sans JP";
	src: url("NotoSans/NotoSansJP-VariableFont_wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Sans Simplified Chinese */
@font-face {
	font-family: "Noto Sans SC";
	src: url("NotoSans/NotoSansSC-VariableFont_wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Sans Tamil */
@font-face {
	font-family: "Noto Sans Tamil";
	src: url("NotoSans/NotoSansTamil-VariableFont_wdth\,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Noto Serif Tibetan */
@font-face {
	font-family: "Noto Serif Tibetan";
	src: url("NotoSerif/NotoSerifTibetan-VariableFont_wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}



/* Doyle from Semipedia */
@font-face {
	font-family: "Doyle";
	font-weight: 900;
	font-style: italic;
	src: url("https://semiopteryx.github.io/semipedia/fonts/doyle/Doyle-BlackItalic.woff2");
}